<!DOCTYPE html>
<html lang="en" ng-app="ntcApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Sandwich Van</h1>
    
    <div ng-controller="delegateController">
        <table>
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Surname</th>
                    <th>Dept.</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="delegate in delegates">
                    <td>{{delegate.firstname}}</td>
                    <td>{{delegate.surname}}</td>
                    <td>{{delegate.dept}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>