<!DOCTYPE html>
<html lang="en" ng-app="ntcApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular Wotsits</title>
</head>

<body>
    <div ng-controller="firstController">
        <h1>{{ heading }}</h1>
        <button ng-click="changeHeading()">Change Heading</button>

        <input type="text" ng-model="heading">

        <table>
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Surname</th>
                    <th>Company</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="delegate in delegates">
                    <td>{{ delegate.firstname }}</td>
                    <td>{{ delegate.surname }}</td>
                    <td>{{ delegate.company }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>