<!DOCTYPE html>
<html lang="en" ng-app="ntcApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Things and Stuff</h1>
    <div ng-controller="delegateController">
        <ul>
            <li ng-repeat="delegate in delegates">{{delegate}}</li>
        </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>